# each portion of tensorflow is needed
# core package is for RNN, cpu and gpu are for specific system speed-ups
tensorflow==2.15
umap-learn
visdom
librosa===0.10.1
matplotlib===3.8.3
numpy===1.26.4
scipy===1.12.0
tqdm
sounddevice
Unidecode
inflect
PyQt5
multiprocess
numba==0.59.1
