# each portion of tensorflow is needed
# core package is for RNN, cpu and gpu are for specific system speed-ups VIK
tensorflow===1.15
tensorflow-hub
tensorflow-datasets
umap-learn
visdom
librosa==0.10.1
matplotlib==3.8.3
matplotlib-venn
numpy==1.26.4
libarchive
scipy==1.12.0
tqdm
sounddevice
Unidecode==1.3.8
inflect
PyQt5
multiprocess
numba==0.59.1
jedi>=0.16
moviepy
pyaudio
synthesizer
gTTS
SpeechRecognition
